minarch_cpu_speed = Performance
minarch_sync_reference = Emulated
minarch_rewind_enable = Off
# Dreamcast face buttons by position (bottom = DC A) under either Button layout
minarch_face_buttons = positional
reicast_per_content_vmus = VMU A1
reicast_internal_resolution = 640x480
reicast_threaded_rendering = enabled
reicast_synchronous_rendering = disabled
reicast_framerate = fullspeed
reicast_alpha_sorting = per-strip (fast, least accurate)
reicast_delay_frame_swapping = disabled
reicast_enable_dsp = disabled
reicast_div_matching = auto
reicast_gdrom_fast_loading = enabled
reicast_enable_purupuru = enabled
reicast_anisotropic_filtering = 2
reicast_widescreen_hack = disabled
reicast_region = Default
reicast_language = Default
